.topTenPic {
  float: left;
  width: 30%;
}

/*.row {
  border: solid 10px blue;
}*/

.audioLevel {
  width: 950px;
  max-height: 200px;
  position: absolute;
}

h1 {
  color: red;
  padding-left: 100px;
  margin-top: 100px;
  padding-top: 60px;
  position: absolute;
}

.nav {
  position: fixed;
  background-color: black;
  color: white;
  width: 100px;
  text-align: center;
}

.fakeArticle:hover {
  border: solid 15px black;
}
